<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charSet="utf-8" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <script src="./js/bootstrap.min.js" defer></script>
    <title>Spring Security Example</title>
</head>
<body>
    <h1><b>User</b>, welcome spring boot security page!</h1>
</body>
</html>
